@page
@using YanLoadingTracker.Models
@model YanLoadingTracker.Pages.Disciplines.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Дисциплины</h1>

<p>
    <a class="btn-outline-success btn-block btn  "
       asp-page="Create">
        Создать новую
    </a>
</p>

<div class="table-responsive">
    <table class="table table-hover text-center table-bordered ">
        <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Discipline[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discipline[0].IdCourseNavigation)
            </th>
            <th colspan="3"></th>
        </tr>
        </thead>
        <tbody>
        @foreach (Discipline item in Model.Discipline)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCourseNavigation.CourceNumber)
                </td>

                <td>
                    <a class="btn btn-outline-warning btn-block"
                       asp-page="./Edit"
                       asp-route-id="@item.Id">
                        Редактировать
                    </a>
                </td>
                <td >
                    <a class="btn btn-outline-info btn-block"
                       asp-page="./Details"
                       asp-route-id="@item.Id">
                        Детали
                    </a>
                </td>
                <td >
                    <a class="btn btn-outline-danger btn-block"
                       asp-page="./Delete"
                       asp-route-id="@item.Id">
                        Удалить
                    </a>
                </td>

            </tr>
        }
        </tbody>
    </table>
</div>
