@page
@model YanLoadingTracker.Pages.Loads.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Load</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Load.IdDisciplineNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Load.IdDisciplineNavigation.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Load.IdTeacherNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Load.IdTeacherNavigation.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Load.IdTypeNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Load.IdTypeNavigation.Name)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |И
    <a asp-page="./Index">Back to List</a>
</div>
